<table class="in_main" cellspacing="0" cellpadding="0" border="0" width="648" style="border: none; border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 648px;"><tbody><tr><td class="in_header">
        <table class="in_hero" cellspacing="0" cellpadding="0" border="0" width="648" height="294" style="border: none; border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; height: 294px; width: 648px;"><tr><td colspan="3" class="in_hero_top" style="height: 229px; width: 648px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/6f938a48e7117268099780d5bd8651d1.jpg" alt="" width="648" height="229" style="display: block; height: 229px; width: 648px;"></td>
            </tr><tr><td class="in_hero_left" style="height: 17px; width: 225px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/6acc507699dbedde29d385f8ba5a5360.jpg" style="display: block; height: 17px; width: 225px;"></td>
                <td class="in_hero_date_holder" style="background: #000; height: 13px; line-height: 1px; text-align: center; width: 193px;"><span class="in_hero_date" style="color: #fff; font-family: 'Arial', sans; font-size: 13px; font-weight: 300; line-height: 1px;">W/C 26 SEPTEMBER 2014</span></td>
                <td class="in_hero_right" style="height: 17px; width: 230px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/66bc1aaad030fe16dd6ad9e80641530c.jpg" alt="" width="230" height="17" style="display: block; height: 17px; width: 230px;"></td>
            </tr><tr><td colspan="3" class="in_hero_bottom" style="height: 48px; width: 648px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/02d2498a2380881114fd2d61421b305f.jpg" alt="" width="648" height="48" style="display: block; height: 48px; width: 648px;"></td>
            </tr></table></td>
</tr><tr><td class="in_body">
        <table class="in_statistics" cellspacing="0" cellpadding="0" border="0" style="border: none; border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;"><tr><td class="in_statistics_margin" colspan="3" style="height: 50px; width: 648px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" width="648" height="50" alt="" style="display: block; height: 50px; width: 648px;"></td>
            </tr><tr><td colspan="3" class="in_statistics_header_holder" style="text-align: center;">
                    <span class="in_statistics_header" style="color: #000; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 20px; font-weight: 300; line-height: 1.1;">GROWTH ACROSS PLATFORMS</span>
                </td>
            </tr><tr class="in_statistics_divider_holder"><td class="in_statistics_left_margin" style="width: 55px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="55" height="35" style="display: block; width: 55px;"></td>
                <td class="in_statistics_divider"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="538" height="34" style="display: block; border-bottom: 1px solid #e8e8e8; height: 35px; width: 538px;"></td>
                <td class="in_statistics_left_margin" style="width: 55px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="55" height="35" style="display: block; width: 55px;"></td>
            </tr><tr><td class="in_statistics_margin" colspan="3" style="height: 50px; width: 648px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="648" height="50" style="display: block; height: 50px; width: 648px;"></td>
            </tr><tr class="in_statistics_blocks"><td class="in_statistics_left_margin" style="width: 55px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="50" height="204" style="display: block; width: 55px;"></td>
                <td>
                    <table class="in_statistics_blocks_holder" cellspacing="0" cellpadding="0" border="0" style="border: none; border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;"><tr><td class="in_statistics_block" style="border: 1px solid #e8e8e8; height: 202px; vertical-align: top; width: 167px;">
                                <table class="in_statistics_block_inner" cellspacing="0" cellpadding="0" border="0" style="border: none; border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;"><tr><td class="in_statistics_block_inner_15margin" style="height: 15px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="15" style="display: block; height: 15px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_icon" style="line-height: 1px; text-align: center;">
                                            <img src="http://s7.hostingkartinok.com/uploads/images/2014/08/5d7246bb172666530ff2ea5eaeaf84be.png" alt="" width="24" height="24" style="display: inline-block;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_13margin" style="height: 13px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="13" style="display: block; height: 13px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_number_holder" style="height: 30px; line-height: 1px; text-align: center;"><span class="in_number" style="color: #000; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 42px; font-weight: 300; line-height: 1.1;">+40</span></td>
                                    </tr><tr><td class="in_statistics_block_inner_1margin" style="height: 1px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="3" style="display: block; height: 1px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_header_holder" style="height: 9px; line-height: 1px; text-align: center;"><span class="in_statistics_block_inner_header" style="color: #444444; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 12px; font-weight: 300; line-height: 1.1;">NEW LIKES</span></td>
                                    </tr><tr><td class="in_statistics_block_inner_13margin" style="height: 13px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="13" style="display: block; height: 13px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_number_holder" style="height: 30px; line-height: 1px; text-align: center;">
                                            <span class="in_number" style="color: #000; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 42px; font-weight: 300; line-height: 1.1;">20,6K</span>
                                        </td>
                                    </tr><tr><td class="in_statistics_block_inner_1margin" style="height: 1px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="3" style="display: block; height: 1px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_header_holder" style="height: 9px; line-height: 1px; text-align: center;">
                                            <span class="in_statistics_block_inner_header" style="color: #444444; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 12px; font-weight: 300; line-height: 1.1;">TOTAL LIKES</span>
                                        </td>
                                    </tr></table></td>
                            <td class="in_statistics_blocks_holder_margin" style="height: 202px; width: 16px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="16" height="204" style="display: block; height: 202px; width: 16px;"></td>
                            <td class="in_statistics_block" style="border: 1px solid #e8e8e8; height: 202px; vertical-align: top; width: 167px;">
                                <table class="in_statistics_block_inner" cellspacing="0" cellpadding="0" border="0" style="border: none; border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;"><tr><td class="in_statistics_block_inner_15margin" style="height: 15px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="15" style="display: block; height: 15px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_icon" style="line-height: 1px; text-align: center;">
                                            <img src="http://s7.hostingkartinok.com/uploads/images/2014/08/21bd77b701dbc2d57b7010552b67500c.png" alt="" width="24" height="24" style="display: inline-block;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_13margin" style="height: 13px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="13" style="display: block; height: 13px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_number_holder" style="height: 30px; line-height: 1px; text-align: center;"><span class="in_number" style="color: #000; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 42px; font-weight: 300; line-height: 1.1;">+40</span></td>
                                    </tr><tr><td class="in_statistics_block_inner_1margin" style="height: 1px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="3" style="display: block; height: 1px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_header_holder" style="height: 9px; line-height: 1px; text-align: center;"><span class="in_statistics_block_inner_header" style="color: #444444; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 12px; font-weight: 300; line-height: 1.1;">NEW LIKES</span></td>
                                    </tr><tr><td class="in_statistics_block_inner_13margin" style="height: 13px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="13" style="display: block; height: 13px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_number_holder" style="height: 30px; line-height: 1px; text-align: center;">
                                            <span class="in_number" style="color: #000; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 42px; font-weight: 300; line-height: 1.1;">20,6K</span>
                                        </td>
                                    </tr><tr><td class="in_statistics_block_inner_1margin" style="height: 1px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="3" style="display: block; height: 1px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_header_holder" style="height: 9px; line-height: 1px; text-align: center;">
                                            <span class="in_statistics_block_inner_header" style="color: #444444; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 12px; font-weight: 300; line-height: 1.1;">TOTAL LIKES</span>
                                        </td>
                                    </tr></table></td>
                            <td class="in_statistics_blocks_holder_margin" style="height: 202px; width: 16px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="16" height="204" style="display: block; height: 202px; width: 16px;"></td>
                            <td class="in_statistics_block" style="border: 1px solid #e8e8e8; height: 202px; vertical-align: top; width: 167px;">
                                <table class="in_statistics_block_inner" cellspacing="0" cellpadding="0" border="0" style="border: none; border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;"><tr><td class="in_statistics_block_inner_15margin" style="height: 15px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="15" style="display: block; height: 15px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_icon" style="line-height: 1px; text-align: center;">
                                            <img src="http://s7.hostingkartinok.com/uploads/images/2014/08/b8c4803b0a0aca1c7011adc261463762.png" alt="" width="24" height="24" style="display: inline-block;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_13margin" style="height: 13px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="13" style="display: block; height: 13px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_number_holder" style="height: 30px; line-height: 1px; text-align: center;"><span class="in_number" style="color: #000; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 42px; font-weight: 300; line-height: 1.1;">+40</span></td>
                                    </tr><tr><td class="in_statistics_block_inner_1margin" style="height: 1px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="3" style="display: block; height: 1px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_header_holder" style="height: 9px; line-height: 1px; text-align: center;"><span class="in_statistics_block_inner_header" style="color: #444444; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 12px; font-weight: 300; line-height: 1.1;">NEW LIKES</span></td>
                                    </tr><tr><td class="in_statistics_block_inner_13margin" style="height: 13px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="13" style="display: block; height: 13px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_number_holder" style="height: 30px; line-height: 1px; text-align: center;">
                                            <span class="in_number" style="color: #000; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 42px; font-weight: 300; line-height: 1.1;">20,6K</span>
                                        </td>
                                    </tr><tr><td class="in_statistics_block_inner_1margin" style="height: 1px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="3" style="display: block; height: 1px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_header_holder" style="height: 9px; line-height: 1px; text-align: center;">
                                            <span class="in_statistics_block_inner_header" style="color: #444444; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 12px; font-weight: 300; line-height: 1.1;">TOTAL LIKES</span>
                                        </td>
                                    </tr></table></td>
                        </tr></table></td>
                <td class="in_statistics_left_margin" style="width: 55px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="50" height="204" style="display: block; width: 55px;"></td>
            </tr><tr><td class="in_statistics_margin" colspan="3" style="height: 50px; width: 648px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="648" height="50" style="display: block; height: 50px; width: 648px;"></td>
            </tr><tr class="in_statistics_blocks"><td class="in_statistics_left_margin" style="width: 55px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="50" height="204" style="display: block; width: 55px;"></td>
                <td>
                    <table class="in_statistics_blocks_holder" cellspacing="0" cellpadding="0" border="0" style="border: none; border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;"><tr><td class="in_statistics_blocks_holder_side_margin" style="height: 202px; width: 84px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="90" height="204" style="display: block; height: 202px; width: 84px;"></td>
                            <td class="in_statistics_block" style="border: 1px solid #e8e8e8; height: 202px; vertical-align: top; width: 167px;">
                                <table class="in_statistics_block_inner" cellspacing="0" cellpadding="0" border="0" style="border: none; border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;"><tr><td class="in_statistics_block_inner_15margin" style="height: 15px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="15" style="display: block; height: 15px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_icon" style="line-height: 1px; text-align: center;">
                                            <img src="http://s7.hostingkartinok.com/uploads/images/2014/08/b2a6184fb7df7975cc3aa731b0031513.png" alt="" width="24" height="24" style="display: inline-block;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_13margin" style="height: 13px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="13" style="display: block; height: 13px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_number_holder" style="height: 30px; line-height: 1px; text-align: center;"><span class="in_number" style="color: #000; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 42px; font-weight: 300; line-height: 1.1;">+40</span></td>
                                    </tr><tr><td class="in_statistics_block_inner_1margin" style="height: 1px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="3" style="display: block; height: 1px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_header_holder" style="height: 9px; line-height: 1px; text-align: center;"><span class="in_statistics_block_inner_header" style="color: #444444; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 12px; font-weight: 300; line-height: 1.1;">NEW LIKES</span></td>
                                    </tr><tr><td class="in_statistics_block_inner_13margin" style="height: 13px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="13" style="display: block; height: 13px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_number_holder" style="height: 30px; line-height: 1px; text-align: center;">
                                            <span class="in_number" style="color: #000; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 42px; font-weight: 300; line-height: 1.1;">20,6K</span>
                                        </td>
                                    </tr><tr><td class="in_statistics_block_inner_1margin" style="height: 1px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="3" style="display: block; height: 1px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_header_holder" style="height: 9px; line-height: 1px; text-align: center;">
                                            <span class="in_statistics_block_inner_header" style="color: #444444; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 12px; font-weight: 300; line-height: 1.1;">TOTAL LIKES</span>
                                        </td>
                                    </tr></table></td>
                            <td class="in_statistics_blocks_holder_margin" style="height: 202px; width: 16px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="16" height="204" style="display: block; height: 202px; width: 16px;"></td>
                            <td class="in_statistics_block" style="border: 1px solid #e8e8e8; height: 202px; vertical-align: top; width: 167px;">
                                <table class="in_statistics_block_inner" cellspacing="0" cellpadding="0" border="0" style="border: none; border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;"><tr><td class="in_statistics_block_inner_15margin" style="height: 15px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="15" style="display: block; height: 15px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_icon" style="line-height: 1px; text-align: center;">
                                            <img src="http://s7.hostingkartinok.com/uploads/images/2014/08/eaa74d16a0fb626a40b3409c68815f54.png" alt="" width="24" height="24" style="display: inline-block;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_13margin" style="height: 13px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="13" style="display: block; height: 13px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_number_holder" style="height: 30px; line-height: 1px; text-align: center;"><span class="in_number" style="color: #000; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 42px; font-weight: 300; line-height: 1.1;">+40</span></td>
                                    </tr><tr><td class="in_statistics_block_inner_1margin" style="height: 1px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="3" style="display: block; height: 1px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_header_holder" style="height: 9px; line-height: 1px; text-align: center;"><span class="in_statistics_block_inner_header" style="color: #444444; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 12px; font-weight: 300; line-height: 1.1;">NEW LIKES</span></td>
                                    </tr><tr><td class="in_statistics_block_inner_13margin" style="height: 13px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="13" style="display: block; height: 13px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_number_holder" style="height: 30px; line-height: 1px; text-align: center;">
                                            <span class="in_number" style="color: #000; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 42px; font-weight: 300; line-height: 1.1;">20,6K</span>
                                        </td>
                                    </tr><tr><td class="in_statistics_block_inner_1margin" style="height: 1px; width: 100%;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="166" height="3" style="display: block; height: 1px; width: 100%;"></td>
                                    </tr><tr><td class="in_statistics_block_inner_header_holder" style="height: 9px; line-height: 1px; text-align: center;">
                                            <span class="in_statistics_block_inner_header" style="color: #444444; font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MC', 'Arial', sans; font-size: 12px; font-weight: 300; line-height: 1.1;">TOTAL LIKES</span>
                                        </td>
                                    </tr></table></td>
                            <td class="in_statistics_blocks_holder_side_margin" style="height: 202px; width: 84px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="90" height="204" style="display: block; height: 202px; width: 84px;"></td>
                        </tr></table></td>
                <td class="in_statistics_left_margin" style="width: 55px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" style="display: block; width: 55px;"></td>
            </tr><tr><td class="in_statistics_margin" colspan="3" style="height: 50px; width: 648px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="648" height="50" style="display: block; height: 50px; width: 648px;"></td>
            </tr><tr><td class="in_statistics_margin" colspan="3" style="height: 50px; width: 648px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/d8e9290f1f1c124cef0c4d90914aaace.png" alt="" width="648" height="50" style="display: block; height: 50px; width: 648px;"></td>
            </tr></table></td>
</tr><tr><td class="in_footer" style="height: 19px; width: 648px;"><img src="http://s7.hostingkartinok.com/uploads/images/2014/08/63f3f88cc2cd51da10e215923d589a0e.png" alt="" style="display: block; height: 19px; width: 648px;"></td>
</tr></tbody></table>
